<h1>Accueil#choix</h1>
<h2>Kaaay def sa choix</h2>

<%= @message %>
<table>
<% @liste_choix.each do |el|  %>
	<tr> <td><%= el %> </td></tr>
<% end %>
</table>

<p>Find me in app/views/accueil/choix.html.erb</p>
